button:hover {
	cursor: pointer;
}
.backbutton {
  font-family: Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:20px;
   margin-left:430px;
}
.submitbutton {
  font-family: Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:20px;
   margin-left:30px;
}

.buttonstatus1{
  font-family: Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 80px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:10px;
   margin-left:180px;
}
.buttonstatus2{
  font-family: Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 80px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:10px;
   margin-left:20px;
}
.buttonstatus3{
  font-family: Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  float:left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 80px;
  height: 42px;
  border-radius: 10px;
  background:grey;
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-top:10px;
   margin-left:20px;
}